.container-certificado-header{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
   font-family: Arial, Helvetica, sans-serif;
  }

  .contenedor_certificado-main{
    
    display: flex;
    gap: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }

  .contenedor_certificado-main .box-certificado:nth-child(1){
     flex-basis: calc(50% - 5px);
     box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .contenedor_certificado-main .box-certificado:nth-child(2){
     flex-basis: calc(50% - 5px);
     box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
  }
  
  .container-certificado-h3{
    color: black;
    font-size: 15px;
    font-weight: 800;
 }
 .container-certificado-p{
   color: black;
   font-size: 10px;
   
  }
  
  .main-container-p{
    text-align: justify;
    font-size: 12px;
    font-weight: 600;
    margin: 3px;
  }
  
 

 .mas{
    font-size: 20px;
    font-weight: 900;
     
 }

 .certificado-content{
   padding: 10px;
    
   display: flex;
   flex-direction: column;
  
  
   
  
    
 }

 

 .certificado-content-input{
   font-size: 12px;
 }
 
 .btn-certifica{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
 }
 .certificado-content-btn{
  display: flex;
   width: 80px;
   height: 60px;
   padding: 14px;
   
   align-items: center;
   justify-content: center;
  
    
 }

 .certificado-content-resultados{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: 10px;
   padding: 2px 10px;
   margin-bottom: 2px;
   
   border: 1px solid rgba(148, 147, 147, 0.678);
   border-radius: 8px;
   
   
   
 }

 .certificado-content-resultados-btn{
   width: 100px;
   height: 40px;
   padding: 8px;
   margin: 4px;
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: 12px;
   color: black;
 }

 .datos-cargados-p{
font-size: 16px;
margin-left: 10px;
 
 }
 .datos-cargados-span{
font-size: 16px;
 
font-weight: 600;
 
 }


 .download-container {
   margin-top: 20px;
 }
 
 .download-btn {
   display: flex;
   align-items: center;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }
 
 .download-btn:hover {
   background-color: #45a049;
 }

 