.estadisticas-container {
    margin: 10px 0;
    border: 1px solid black;
     
  }
  
  .card-container-units {
     
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
  }
  
  .unit-card {
    
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 120px; /* Ajustar el ancho */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .unit-image {
    width: 100px; /* Fijar un ancho para todas las im치genes */
    height: 100px; /* Fijar un alto para todas las im치genes */
    object-fit: cover; /* Ajustar las im치genes para que llenen el contenedor sin distorsi칩n */
    border-radius: 5px;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.493);
  }
  
  .unit-info {
    padding: 4px;
  }
  
  .unit-info h4 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .unit-info p {
    font-size: 12px;
    color: #555;
  }

  .unit-icon{
    font-size: 24px;
    margin: 8px;
    color:#4d80b8
  }