/* Archivo: ListarUnidades.css */

.container-info-inventario{
    
    max-width: 100%;
    margin: 0 auto;
    
  }

  .container-info-inventario-content{
    
    display: flex;
    flex-direction: row;
     
    gap: 5px;
    background-color: #fff; /* Color de fondo blanco */
    border: 1px solid #e0e0e0; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados en las cajas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en las cajas */
    
  }

  .container-info-inventario-content .box-info-inventario:nth-child(1){
   
    flex-basis: calc(60% - 2px);
    padding: 1rem; /* Espaciado interno en las cajas */
    border: 1px solid #f0efef; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados en las cajas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03); /* Sombra en las cajas */

     
  }
  .container-info-inventario-content .box-info-inventario:nth-child(2){
    flex-basis: calc(40% - 2px);
      
    border: 1px solid #e0e0e0ac; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados en las cajas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en las cajas */
     
 }
  
 
    .container-listUnits-Search-ps{
      display: flex;
      flex-direction: column;
      text-align: right;
     
  }
 
  
.container-category-details{
  background-color: #d0d0d0;
}

.box-info-inventario-units{
   
  display: flex;
  flex-direction: column;
  
   
   
}
.box-info-inventario-units-category {
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 20px;
  
   
  
  text-align: left;
  
   
}

.box-info-inventario-units-title{
  justify-content: left;
  font-weight: 700;
}

 

.box-info-inventario-units-category p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.box-info-inventario-units-category strong {
  color: #4e73df;
  font-weight: 600;
}
.box-info-inventario-units-category span {
  color:black;
  font-weight: 600;
}
.strong-unidades {
  color: red;
}

.box-info-inventario-units-category p:last-child {
  margin-bottom: 0;
}
