.estadisticas-container {
  padding: 10px;
  background-color: white;
}

.filtro-grupo {
  margin: 15px 0;
}

.filtro-grupo select {
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
}

.estadisticas-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 18px;
  
   
}

.estadisticas-table th,
.estadisticas-table td {
  border: 1px solid #7a7a7a;
  padding: 4px;
  text-align: center;
}

.estadisticas-table thead {
  background-color: #383838;
  
  
   
}

.estadisticas-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.asistencias-lista {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.asistencia-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.col-grupo {
  width: 200px;
}

.color-head{
  color: rgb(255, 255, 255);
}