/* Archivo: ListarUnidades.css */

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  thead th {
    padding: 0.75rem;
    border-bottom: 2px solid #ddd;
    text-align: left;
    color: #555;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  tbody td {
   
    border-bottom: 1px solid #ddd;
    color: #666;
    
  }
  
  @media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
  
    thead {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    tr {
      border: 1px solid #ccc;
      margin-bottom: 1rem;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: left;
      white-space: nowrap;
       
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 45%;
      padding-left: 0.75rem;
      font-weight: bold;
      color: #333;
    }
  }
  

  .item-count {
    margin: 10px 0;
    font-size: 24px;
    color: #666;
  }
  

  .container-listUnits-Search{
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
    
    .container-listUnits-Search-ps{
      display: flex;
      align-items: center;
      flex-direction: row;
  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: 2px; /* Espacio entre los íconos */
  }
  
  .view-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Tamaño del ícono */
    height: 30px; /* Tamaño del ícono */
    border-radius: 50%; /* Borde redondeado */
    background-color: #f0f0f069; /* Fondo gris claro */
    transition: background-color 0.3s ease; /* Efecto de transición */
    color: #333; /* Color del ícono */
  }
  
  .view-icon:hover {
    background-color: #d3d3d3;
    color: white; /* Fondo más oscuro al pasar el ratón */
  }
  
  .delete-icon-units {
    cursor: pointer; /* Cambiar cursor para el ícono de eliminar */
    transition: transform 0.3s ease; /* Efecto de transformación */
  }
  
  .delete-icon:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el ratón */
  }

  .container-lis-unit{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 30px;
    
  }
  