.product-distribution-container {
    width: 100%;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .layout-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .location-list {
    width: 30%;
    max-height: 500px; /* Ajusta esta altura según lo que necesites */
    overflow-y: auto; /* Activar el scroll vertical */
    border-right: 1px solid #eee;
    background-color: #fafafa;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .location-item {
    font-size: 14px;
    cursor: pointer;
    padding: 4px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    color: #555;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(187, 187, 187, 0.445);
  }
  
  .location-item:hover {
    background-color: #43a6f2;
    color: white;
  }
  
  .location-item.selected {
    font-weight: bold;
    background-color: #4a90e2;
    color: white;
    border-color: #4a90e2;
  }
  
  .product-details {
    width: 70%;
    padding: 20px;
    background-color: #fff;
  }
  
  .product-details p {
    font-size: 18px;
    color: #666;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
  }
  
  .product-item:hover {
    background-color: #e3e3e3;
  }
  
  .product-item div strong {
    font-size: 14px;
    color: #333;
  }
  
  .product-item div p {
    font-size: 16px;
    color: #777;
  }
  
  /* Estilo personalizado para la barra de scroll */
  .location-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .location-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .location-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .location-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .product-details-encargado{
     font-size: 14px;
     font-weight: 700;
  }
  .product-details-encargado-span{
     font-size: 14px;
     text-transform: uppercase;
   
  }