/* Estilo base para escritorio */
.lista_ep_pagas {
    width: 60%;
    display: flex;
     
    padding: 5px;
    justify-content: space-between;
    
    border-bottom: 1px solid black; 
    border-radius: 4px;
    margin: 5px auto;
    flex-wrap: wrap;
}
.container_lista_ep{
    background-color: rgb(255, 255, 255);
}

.conteo-clases {
  display: flex;
  justify-content: space-between; /* distribuye en todo el ancho */
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: rgb(238, 237, 237);
  box-shadow: rgba(50, 54, 93, 0.59) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.547) 0px 3px 7px -3px;
  border-radius: 4px;
  margin: 10px auto;
  width: 100%;
}

.conteo-clases > * {
  flex: 1;              /* cada hijo ocupa el mismo espacio */
  text-align: center;   /* centra el texto dentro de cada bloque */
}

.conteo-clases p {
  font-size: 18px;
  margin: 0;
}

.tabla-ep {
  width: 50%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 18px;
  text-align: left;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(50, 54, 93, 0.2) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;
}

.tabla-ep thead {
  background: #e6e6e6;
  color: white;
  font-weight: bold;
}

.tabla-ep th,
.tabla-ep td {
  padding: 5px 6px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.tabla-ep tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.tabla-ep tbody tr:hover {
  background: #f1f1f1;
}

.conteo-clases span{
   font-size: 1px;
   font-weight: 900;
}

/* Tablet (≤ 1024px) */
@media screen and (max-width: 1024px) {
    .lista_ep_pagas {
        width: 80%;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
    }

    .conteo-clases {
        width: 95%;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }
}

/* Móvil (≤ 768px) */
@media screen and (max-width: 768px) {
    .lista_ep_pagas {
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
       
        padding: 8px;
    }

    .conteo-clases {
        width: 100%;
        flex-direction: column;
        align-items: center;
      
        padding: 8px;
    }
}
