/* src/components/EditProduct/EditProduct.css */

/* Estilos generales para el contenedor del componente */
.edit-product-container {
  max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos dentro del contenedor */
  .edit-product-container h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  /* Estilos para el formulario */
  .edit-product-container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los grupos de campos del formulario */
  .form-group {
    margin-bottom: 6px;
  }
  
  /* Estilos para las etiquetas de los campos del formulario */
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  /* Estilos para los campos de entrada del formulario */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Estilos específicos para el área de texto */
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  
  /* Estilos para el botón de enviar */
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  /* Estilo del botón en estado hover */
  button:hover {
    background-color: #218838;
  }
  