* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
   
  
}

/* Slideshow container */
.slideshow {
  position: relative;
  width: 100%;
  
  height: 500px;
  overflow: hidden;
   
  margin-bottom: 20px;
  
}

/* Text overlay */
.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 10;
}

.slideshow-text h1 {
  font-size: 56px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.slideshow-text p {
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.slide.active {
  left: 0;
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

/* Cards section */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  
}

.card {
  flex: 1 1 calc(33.333% - 40px);
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.card p {
  font-size: 16px;
  color: #333;
  padding: 0 10px 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .slideshow {
    height: 200px;
  }

  .slideshow-text h1 {
    font-size: 28px;
  }

  .slideshow-text p {
    font-size: 16px;
  }

  .card {
    flex: 1 1 calc(50% - 40px);
  }

  .card h3 {
    font-size: 20px;
  }

  .card p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .slideshow {
    height: 150px;
  }

  .slideshow-text h1 {
    font-size: 22px;
  }

  .slideshow-text p {
    font-size: 14px;
  }

  .card {
    flex: 1 1 100%;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 12px;
  }
}
