/* search.css */
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
   
}

.icon-search {
    margin: 10px;
     
   
}
.input-search {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem;
  padding-left: 3rem;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
   
}

