.dashboard-papeleria {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.sidebar-papeleria {
  
  background: linear-gradient(135deg, #1b7ed4, #000428);
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 3px solid rgba(255, 255, 255, 0.2);
}

.contenido-papeleria {
  
  padding: 2rem;
  background-color: #ffffff;
  
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
}

.dashboard-papeleria .container:nth-child(1){
  flex-basis: calc(10% );
 
}
 
.dashboard-papeleria .container:nth-child(2){
  flex-basis: calc(90% - 2px);
  background-color: rgb(247, 247, 247);
  padding: 0px;
}